{% extends 'base.html.twig' %}
{% block body %}
<p>Bonjour {{rental.tenantUser.pseudo}},</p>
<p>L'évènement : {% if rental.event.title is not null %}{{rental.event.title}} - {% endif %}{{rental.event.track.city}} du {{rental.event.start|date('d/m/Y')}} est annulé !</p>
<p>Votre demande de location pour : {{rental.vehicle.brand.name}} {{rental.vehicle.year|date('Y')}} est donc elle aussi annulée.</p>
<p> {{rental.ownerUser.pseudo}} a également été prévenu.</p>
<p>Bonne journée</p>
{% endblock %}