{% extends 'base.html.twig' %}
{% block body %}
<p>Bonjour {{exTenant.pseudo}}, il y a du nouveau concernant la <a  href='http://localhost:8080/location/{{rental.id}}'>location</a> pour {{rental.event.track.city}} le {{rental.event.start|date("d/m/Y")}} !</p>
<p>Vous n'avez pas été retenu par {{rental.ownerUser.pseudo}} et le statut de la location vient de nouveau de passer sur disponible.</p>
<p>Si vous voulez plus de renseignements concernant ce refus, n'hésitez pas à contacter {{rental.ownerUser.pseudo}} par message privé afin d'en savoir plus.</p>
{% endblock %}